html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

#ui {
  width: 100%;
  height: 200px;
  display: block;
  background-color: dimgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px; /* spacing between buttons */
}

.ui-elem {
  width : 40%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
canvas {
  flex-grow: 1;
  background: #222;
  image-rendering: pixelated;
  height: 80%;
  width: 100vw;
}

/* Button styling */
.btn {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30%;
  color: black;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 60px;
  user-select: none;
}

#attackBtn {
  position: absolute;
  right: 30px;
  bottom: 90px;
}
